blog_generator.json
{
  "name": "blog_generator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "xxxxxxx",
          "mode": "list",
          "cachedResultName": "blog_generator",
          "cachedResultUrl": "https://drive.google.com/drive/folders/xxxxxxx"
        },
        "event": "folderCreated"
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        80
      ],
      "id": "5e5d1430-f6b9-4715-9d9e-318b5429823c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "usnw2QKEuJHcLOsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files?q=\"{{ $json.id }}\"+in+parents&fields=files(id,name,mimeType,modifiedTime,size)",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        80
      ],
      "id": "001d9af1-ea7c-4b4b-be9a-cfc8fc917d9e",
      "name": "list_files_in_folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "usnw2QKEuJHcLOsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -144,
        80
      ],
      "id": "56fdd8df-bd89-49bc-a0ea-fbdc6206b7b6",
      "name": "split_out_files"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        80
      ],
      "id": "4af0f5e2-6c91-4b3d-82b7-91bf6164bf0c",
      "name": "download_files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "usnw2QKEuJHcLOsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        80
      ],
      "id": "94560b8d-c51f-4881-b08f-929edd22bb56",
      "name": "extract_text_from_md"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        608,
        80
      ],
      "id": "a6720066-afc6-42bf-b185-56a32149bcc4",
      "name": "Information Extractor"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "list_files_in_folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list_files_in_folder": {
      "main": [
        [
          {
            "node": "split_out_files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_out_files": {
      "main": [
        [
          {
            "node": "download_files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_files": {
      "main": [
        [
          {
            "node": "extract_text_from_md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_text_from_md": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2387f262-bb37-4379-a8f2-50a46920c12d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf925e81b6a563ad56f79364300c97c41c841ac4da95716caaf16899c5cc0436"
  },
  "id": "83Sgpfxt9Ez5T256",
  "tags": []
}