blog_generator.json
{
  "name": "blog_generator",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "xxxxxxx",
          "mode": "list",
          "cachedResultName": "blog_generator",
          "cachedResultUrl": "https://drive.google.com/drive/folders/xxxxxxx"
        },
        "event": "folderCreated"
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -656,
        80
      ],
      "id": "5e5d1430-f6b9-4715-9d9e-318b5429823c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "usnw2QKEuJHcLOsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        96
      ],
      "id": "4af0f5e2-6c91-4b3d-82b7-91bf6164bf0c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "usnw2QKEuJHcLOsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.webViewLink }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        80
      ],
      "id": "001d9af1-ea7c-4b4b-be9a-cfc8fc917d9e",
      "name": "list_files_in_folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "usnw2QKEuJHcLOsd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -144,
        80
      ],
      "id": "6ef6ce3c-1ee0-4aa5-abb9-054092c618e9",
      "name": "loop_over_folder_items"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "list_files_in_folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list_files_in_folder": {
      "main": [
        [
          {
            "node": "loop_over_folder_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        []
      ]
    },
    "loop_over_folder_items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dec4d233-d306-4aa3-a1e0-24c6a1645999",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf925e81b6a563ad56f79364300c97c41c841ac4da95716caaf16899c5cc0436"
  },
  "id": "83Sgpfxt9Ez5T256",
  "tags": []
}